# IDE's project files
.idea

# vscode
.vscode

# Mac system files
.DS_Store

# Python virtual environment
venv/

# Private environment variables
.env

# Corpus JSON files
data/nasa_full_corpus

# Large index files
data/inverted_index.json
data/inverted_index.pkl
data/inverted_index_shelve